
[MASTER]

ignore = ,input
persistent = yes

[MESSAGES CONTROL]

disable=fixme,invalid-name, missing-docstring, too-few-public-methods,
        too-many-public-methods,
        # We know about it and we're doing our best to remove it
        # in 2.0
        cyclic-import,
        # The check is faulty in most cases and it doesn't take in
        # account how the variable is being used. For instance,
        # using a variable that is a list or a generator in an
        # iteration context is fine.
        redefined-variable-type,
        # Requires major redesign for fixing this (and private
        # access in the same project is fine)
        protected-access,
        # Most of them are conforming to an API. Putting staticmethod
        # all over the place changes the aesthetics when these methods
        # are following a local pattern (visit methods for instance).
        no-self-use,
        # API requirements in most of the occurrences
        unused-argument,
        # Not very useful when it warns about imports.
        duplicate-code,
        # Don't care about these two too much
        wrong-import-order,
        wrong-import-position

disable-msg=D211

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=119
